/* Estilos para las tarjetas de oferta en el carrusel de la página de inicio */
.home-offer-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
  /* Se eliminan display:flex y flex-direction para no interferir con los estilos del componente */
}

.home-offer-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

/* Eliminar el borde/outline azul al hacer clic en la tarjeta */
.home-offer-card:focus, .home-offer-card:focus-visible {
  outline: none;
  border: none;
}